<section class="education">
  <div class="container">
    <h2 class="white-title paddingBottom">Education</h2>
    <div class="row">
      <div class="col-md-6">
        <h4>Westwood College</h4>
      </div>
      <div class="col-md-6">
        <h5>B.S in Game Software Development</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>ITT-Technical Institute</h4>
      </div>
      <div class="col-md-6">
        <h5>Associate's in Multi-Media & Design</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Antelope Valley Medical College</h4>
      </div>
      <div class="col-md-6">
        <h5>EMT-B Certification</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Coursera.com</h4>
      </div>
      <div class="col-md-6">
        <a href="https://www.coursera.org/account/accomplishments/certificate/YDX7S7HNYR4W"><h5>Certificate in HTML, CSS, Javascript</h5></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Coursera.com</h4>
      </div>
      <div class="col-md-6">
        <a href="https://www.coursera.org/account/accomplishments/certificate/P74CASB4GG8X"><h5>Certificate in Front-End Frameworks</h5></a>
      </div>
    </div>
  </div>
</section>
