<div class="row">
  <div class="col-md-4">
    <div class="img"></div>
  </div>
  <div class="col-md-8">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dignissimos error minus sequi atque quasi similique molestiae reprehenderit est quas. Quis hic temporibus perspiciatis provident explicabo, neque, quae est eveniet.
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque doloribus, cumque hic dicta, delectus consectetur omnis exercitationem similique neque atque fuga adipisci, nulla enim inventore aut. Sunt consequuntur dolorum dignissimos.</span>
       <span>Harum quam velit odit quos dolorem laboriosam, officia accusantium. Officia ipsam illum dolores quibusdam, doloremque, possimus aliquid, debitis sit modi, incidunt accusamus maxime eius et repellat unde dolorum ratione soluta.</span>
       <span>Neque qui accusamus, repellendus hic atque cumque quasi, saepe omnis quia accusantium unde sunt quisquam. Consequatur vitae nobis, incidunt quas quae rem veniam, ducimus, error accusamus suscipit optio eum dignissimos.</span>
       <span>Ipsam soluta, excepturi possimus corporis, illo architecto suscipit enim molestiae id similique at. Cum saepe minus perferendis quas aliquid quaerat incidunt assumenda non id explicabo, magni veritatis animi corporis harum?</span>
       <span>Quam tempore eveniet pariatur assumenda magni porro rem sapiente sed impedit excepturi unde culpa numquam, nulla soluta, vel perferendis eligendi quae dignissimos aliquam labore, ex asperiores! Illo voluptate, eaque quo.</span>
       <span>Aliquid animi assumenda illum perferendis, rem placeat, dignissimos ad quo impedit, suscipit unde vel. Veritatis totam sit nemo nobis voluptatum voluptates neque nesciunt natus, iusto, sed saepe aspernatur, soluta. Et.</span>
       <span>Deserunt at neque beatae, ex. Modi magni deleniti ut ea. Delectus perferendis accusamus rem, ullam in magni, qui ex doloribus omnis minima quam deserunt soluta odit commodi ducimus laborum cupiditate.</span>
       <span>Reprehenderit molestias voluptas suscipit sint eum optio debitis nulla dignissimos tempora, architecto fugiat provident dolore, doloribus quo vitae, accusamus laudantium atque quibusdam molestiae. Aliquid nisi, iusto sit? Laudantium, officia blanditiis!</span>
    </p>
  </div>
</div>
