<section class="experience">
  <div class="container">
    <h2 class="white-title paddingBottom">Relevant Work Experience</h2>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h4>Freelance Web Designer</h4><h5>3 years</h5>
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Designer/ Front end developer
            <ul>
              <li>Meet with clients to discuss their wants and needs</li>
              <li>Create detailed Wireframes with Illustrator </li>
              <li>Design Mockups with Photoshop</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h4>B & B Manufacturing</h4><h5>1 year</h5>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            Tool Analyst
            <ul>
              <li>Manage data, using Accuserve7 ERP</li>
              <li>Sort and organize data with Excel</li>
              <li>Create Monthly charts and reports with Excel Using Macros, & VB</li>
              <li>Communicate with shop floor, investigate any Tool discrepancies</li>
              <li>Analyze and examine Cutting Edge Tools with PG-1000 micro camera</li>
              <li>Calcliate tool life by measuring Cutting depth of tool through G-Code</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h4>Kraferd Inc.</h4><h5>1 year</h5>
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            Software Developer
            <ul>
              <li>Developed front and backend Web applications using Ruby on Rails</li>
              <li>Worked with Front End developer to convert HTML CSS forms to Ruby format</li>
              <li>Managed MySQL database synced with Ruby on Rails Applications</li>
              <li>Worked with Bootrap Framework</li>
              <li>Used RERSTful ideologies </li>
              <li>MVC methodologies</li>
            </ul>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <h4>SQA2</h4><h5>1 year</h5>
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            Jr. QA Analyst
            <ul>
              <li>Debug web application UI and UX through HTML and CSS </li>
              <li>Reference Wire Frame documents to ensure UI is functioning correctly </li>
              <li>Examine network traffic through Firefox Firebug</li>
              <li>Identify and create Test Cases, complete them manually or set up
              Automated test scenarios </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <h2 class="white-title paddingTopBottom">Irrelevant Work Experience</h2>
    <div id="accordion2">
      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
              <h4>Munoz Concrete Pumping</h4><h5>13 years</h5>
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            Concrete Pumper
            <ul>
              <li>Speak with Customers and Clients about the amount of Concrete needed</li>
              <li>Set up the scheduling for Concrete and Concrete Pump </li>
              <li>Arrive at Job with concretepump greet everyone and begin setup </li>
              <li>Lay out a series of thick hoses for the concrete</li>
              <li>Pump the concrete in various areas</li>
              <li>Attend to any maitanence and trouble shooting needed the Pump might need</li>
              <li>Deal with the Elements, Adjust Concrete slump according to the temperatures outside, use best judgement</li>
              <li>Think on your feet and be prepared for any problems the Concrete or weather might cause</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <h4>Elite Ambulance</h4><h5>1 year</h5>
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            EMT Basic (Emergency Medical Technician)
            <ul>
              <li>Keep Patients Alive during the Golden hour</li>
              <li>Attend to patients and provide Basic Life Support</li>
              <li>Keep Inventory of Ambulance supplies</li>
              <li>Speak with Nurses, Doctors and Care takers to better attend patients</li>
              <li>Wash and keep Ambulance clean inside and out</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
