
.menuBG
{
  width:100%;
  height:auto;
  background:#2b2b2b;
  margin: 0;
  padding: 25px;
}

.ham
{
  width:4vw;
  max-width:50px;
  min-width:25px;
  margin-left:2vw;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top:2.5vw;
}

.name
{
  color: #fff;
  font-size:50px;
}
.cell
{
  color:#fff;
}
.ham div
{
  width:100%;
  height: 0.5vw;
  background: white;
  margin:0.5vw 0;
}
#logo
{
  width:100%;
}

.logo
{
  text-align: center;
  width: 150px;
  min-width:110px;
  position: relative;
  margin-left: calc(50% - 75px);
  margin-right: calc(50% - 75px);
}

.cont-list h3,
.cont-list img
{
  display: inline-block;
}

.icon
{
  width: 40px;
  display: inline-block;
  margin-right: 20px;
}

.email h3
{
  font-size: 30px;
}
.info
{
  margin:0 auto;
  max-width:500px;
}
.cont-list
{
  margin: 0 auto;
}


.margin-top
{
  margin-top:25px;
}
@media only screen and (max-width:500px)
{
  .logo
  {
    /* display: none !important; */
    text-align: center;
  }

  .ham
  {
    width:50px;
  }
}

@media only screen and (max-width:993px)
{
  .margin-top
  {
    margin-top:10px;
  }

  /* .logo
  {
    position:relative;
    left:45%;
  } */
}

@media only screen and (max-width:575px)
{
  .email h3,
  .cell h3
  {
    font-size: 5vw;
  }

  .name
  {
    font-size:8vw;
    text-align: center;
  }

  .icon
  {
    width:8vw;
  }
  .col-lg-8,
  .col-lg-4
  {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin:0px !important;
  }

  section
  {
    padding: 0px !important;
    margin:0px !important;
  }
}
