<div class="menuBG">
  <!-- <button class="ham" type="button">
    <div></div>
    <div></div>
    <div></div>
  </button> -->
  <div class="logo">
    <a href="#"><img src="../../assets/img/MD_Logo.svg" alt="MD_Logo"></a>

  </div>
  <h2 class="name" (click)="displayContact()">Adrian Muñoz</h2>
  <hr style="border-color:#fff; margin:25px auto; width:50%;">
  <ul class="contact-list">
    <li><img src="../../assets/img/cell_icon.png" alt="" class="icon cell"><h3>(661) 436-0114</h3></li>
    <li><img src="../../assets/img/email_icon.png" alt="" class="icon email"><h3><a href="mailto:AdrianMunoz1984@gmail.com?Subject=Hello%20again" target="_top">AdrianMunoz1984@gmail.com</a></h3></li>
    <li></li>
  </ul>
</div>
