<div class="menuBG">
  <!-- <button class="ham" type="button">
    <div></div>
    <div></div>
    <div></div>
  </button> -->


  <!-- <hr style="border-color:#fff; margin:25px auto; width:50%;"> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div id="logo">
          <img src="../../assets/img/MD_Logo.svg" alt="MD_Logo" class="logo">
        </div>
      </div>
      <div class="col-lg-8 margin-top">
        <div class="info">
          <h2 class="name">Adrian Muñoz</h2>
          <div class="cont-list cell">
            <img src="../../assets/img/cell_icon.png" alt="" class="icon cell">
            <h3>(661) 436-0114</h3>
          </div>
          <div class="cont-list email">
            <img src="../../assets/img/email_icon.png" alt="" class="icon email">
            <h3>
              <a href="mailto:AdrianMunoz1984@gmail.com?Subject=Hello%20again" target="_top">AdrianMunoz1984@gmail.com</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
