<section class="skills">
  <div class="container">
    <h2>Skills</h2>
    <div class="line legend"></div>
    <!-- Relevant work experience-->
    <div class="row legend">
      <div class="col-md-1">
        <h4></h4>
      </div>
      <div class="col-md-2">
        <h4></h4>
      </div>
      <div class="col-md-9">
        <div class="box2">Beginner</div>
        <div class="box2">-</div>
        <div class="box2">-</div>
        <div class="box2">-</div>
        <div class="box2">Experienced</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <h3><div class="image imgHtml"></div></h3>
      </div>
      <div class="col-md-2">
        <h3>HTML</h3>
      </div>
      <div class="col-md-9">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <h3><div class="image imgCss"></div></h3>
      </div>
      <div class="col-md-2">
        <h3>CSS</h3>
      </div>
      <div class="col-md-9">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <h3><div class="image imgJS"></div></h3>
      </div>
      <div class="col-md-2">
        <h3>JavaScript</h3>
      </div>
      <div class="col-md-9">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box blank"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <h3><div class="image imgCsharp"></div></h3>
      </div>
      <div class="col-md-2">
        <h3>C#</h3>
      </div>
      <div class="col-md-9">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box blank"></div>
        <div class="box blank"></div>
      </div>
    </div>
    <div class="row ror">
      <div class="col-md-1">
        <h3><div class="image imgRuby"></div></h3>
      </div>
      <div class="col-md-2">
        <h3>Ruby on Rails</h3>
      </div>
      <div class="col-md-9">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box blank"></div>
        <div class="box blank"></div>
      </div>
    </div>
    <!-- Irrelevant work experience-->
    <div class="row">
      <div class="col-md-1">
        <h3><div class="image imgBoot"></div></h3>
      </div>
      <div class="col-md-2">
        <h3>BootStrap</h3>
      </div>
      <div class="col-md-9">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box blank"></div>
      </div>
    </div>
    <div class="row ror">
      <div class="col-md-1">
        <h3><div class="image imgAngular"></div></h3>
      </div>
      <div class="col-md-2">
        <h3>Angular 6</h3>
      </div>
      <div class="col-md-9">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box blank"></div>
        <div class="box blank"></div>
        <div class="box blank"></div>
      </div>
    </div>
  </div>
</section>
