<section class="demos">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="img">
          <a href="http://www.merliconcretepumping.com/"><img id="myImg" class="coverImg" src="../../assets/img/mConcrete.png"/></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="img">
          <a href="https://cookingmatters.org/recipes"><img id="myImg" class="coverImg" src="../../assets/img/recipe.png"/></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="img">
          <a href="http://www.depo.com/blog//"><img id="myImg" class="coverImg" src="../../assets/img/AtkinsonBlog.png"/></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="img">
          <a href="http://www.petrilliconcrete.com/"><img id="myImg" class="coverImg" src="../../assets/img/petrlliConcrete.png"/></a>
        </div>
      </div>
    </div>
  </div>
</section>
